*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background: linear-gradient(to right, #1f1c2c, #928dab);
    color:white;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    background:rgba(0,0,0,0.8);
    position:sticky;
    top:0;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00f7ff;
}

/* SECTIONS */
section{
    padding:70px 20px;
    text-align:center;
}

.home{
    padding-top:100px;
}

.profile-img{
    width:170px;
    border-radius:50%;
    border:4px solid white;
    margin-bottom:20px;
}

/* BUTTON */
.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#00f7ff;
    color:black;
    text-decoration:none;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    background:white;
    transform:scale(1.05);
}

/* SKILLS */
.skills-list{
    list-style:none;
    margin-top:20px;
}

.skills-list li{
    margin:10px 0;
}

/* PROJECTS */
.project-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:30px;
}

.card{
    background:white;
    color:black;
    padding:25px;
    width:280px;
    border-radius:15px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.3);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:rgba(0,0,0,0.9);
}

/* RESPONSIVE */
@media(max-width:768px){
    nav{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
    }

    nav ul li{
        margin:10px 0;
    }

    .project-container{
        flex-direction:column;
        align-items:center;
    }
}
